{% extends "admin/base.html" %}

{% block branding %}

<div style="
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    flex-wrap:wrap;
">

    <h1 id="site-name" style="margin:0;">
        <a href="/admin/" style="color:white; text-decoration:none;">
            Hotel Dashboard
        </a>
    </h1>

    <a href="/admin/dashboard/" style="
        color:white; 
        margin-left:20px;
        text-decoration:none;
        font-weight:bold;
    ">
        Dashboard
    </a>

</div>

{% endblock %}


{% block sidebar %}
    {{ block.super }}

    <div style="padding:10px;">
        <a href="/admin/dashboard/" 
           style="
            display:block; 
            padding:10px; 
            background:#0d6efd; 
            color:white; 
            border-radius:6px; 
            text-align:center; 
            text-decoration:none;
            font-weight:bold;
           ">
           📊 Dashboard
        </a>
    </div>

{% endblock %}