{% extends 'booking/base.html' %}
{% load static %}

{% block content %}

<!-- HERO SLIDER -->
<section class="hero">

    <!-- SLIDES -->
    <div class="slide active" style="background-image:url('{% static "images/hotel.jpg" %}')"></div>
    <div class="slide" style="background-image:url('{% static "images/hotel2.avif" %}')"></div>
    <div class="slide" style="background-image:url('{% static "images/hotel3.webp" %}')"></div>
    <div class="slide" style="background-image:url('{% static "images/hotel4.png" %}')"></div>
    
    <div class="overlay"></div>
    <!-- LEFT RIGHT BUTTON -->
<div class="slider-btn left" onclick="prevSlide()">❮</div>
<div class="slider-btn right" onclick="nextSlide()">❯</div>
    <!-- CONTENT -->
    <div class="hero-content">
        <h1>Welcome to Hotel Buddha</h1>
        <p>Book premium rooms at best prices</p>

        <a href="#" class="btn-main">ABOUT US</a>
        <a href="/rooms/" class="btn-dark">BOOK NOW</a>
    </div>

    <!-- DOTS -->
    <div class="dots">
        <span class="active"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</section>

<div class="booking-bar premium-bar">

    <input type="text" id="dateRange" placeholder="Select Dates" readonly>

    <select id="guests">
        <option>Guests</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>

    <select id="children">
        <option>Children</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>

    <button class="check-btn">CHECK RATES</button>

</div>


<!-- ===== ROOMS SECTION ===== -->
<section class="rooms-section">

    <div class="container">

        <h2 class="room-title">Best Rooms For You</h2>

        <!-- SINGLE TABS  -->
        <ul class="room-tabs text-center mb-4">
            <li class="active" onclick="filterRoom('all', this)">ALL</li>
            <li onclick="filterRoom('ac', this)">AC</li>
            <li onclick="filterRoom('non-ac', this)">NON-AC</li>
            <li onclick="filterRoom('deluxe', this)">DELUXE</li>
        </ul>

        <!--  ROOMS -->
        <div class="row mt-5" id="roomContainer">

            {% for room in rooms|slice:":3" %}
            <div class="col-md-4 mb-4 room-item {{ room.room_type|lower }}">

                <div class="room-card-new" onclick="goRoom({{ room.id }})">

                    <div class="img-box">
                        {% if room.images.first %}
                        <img src="{{ room.images.first.image.url }}">
                        {% else %}
                        <img src="{% static 'images/hotel.jpg' %}">
                        {% endif %}

                        <span class="price-tag">₹{{ room.price }}</span>
                    </div>

                    <div class="room-content">
                        <h4>{{ room.name }}</h4>

                        <p class="room-desc">
                            {{ room.description|truncatewords:10 }}
                        </p>

                        <div class="room-info">
                            👤 {{ room.capacity }} Guests
                        </div>
                    </div>

                </div>

            </div>
            {% endfor %}

        </div>

    </div>

</section>

<!-- ===== SERVICES / WHY CHOOSE ===== -->
<section class="why-section">

    <div class="container text-center">

        <h2 class="why-title">Why Choose Us</h2>
        <p class="why-sub">There are various facilities available like</p>

        <div class="row mt-5">

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-wifi"></i></div>
                <p>INTERNET</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-glass-martini"></i></div>
                <p>DRINKS</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-coffee"></i></div>
                <p>CONCIERGE</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-swimmer"></i></div>
                <p>POOL</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-dumbbell"></i></div>
                <p>FITNESS</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-tshirt"></i></div>
                <p>LAUNDRY</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-utensils"></i></div>
                <p>RESTAURANT</p>
            </div>

            <div class="col-md-3 col-6">
                <div class="why-box"><i class="fas fa-spa"></i></div>
                <p>SPA</p>
            </div>

        </div>

    </div>

</section>

<!-- FOOT REVIEW Sec -->
<section class="reviews-section">

    <div class="container">

        <h2 class="text-center review-title">Customer Reviews</h2>

        <div class="row mt-5">

            {% for review in reviews %}
            <div class="col-md-4 mb-4">

                <div class="review-card">

                    <!-- ⭐ Stars -->
                    <div class="stars">
                        {% for i in "12345" %}
                            {% if forloop.counter <= review.rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- 📝 Text -->
                    <p class="review-text">
                        {{ review.comment|truncatewords:20 }}
                    </p>

                    <!-- quote -->
                    <div class="quote">“</div>

                </div>

                <!-- 👤 USER NAME ONLY -->
                <div class="review-user text-center mt-3">
                    <h5>{{ review.user.username }}</h5>
                    <p>Verified Guest</p>
                </div>

            </div>
            {% endfor %}

        </div>

    </div>

</section>

<!--footer upper section-->
<section class="promo-section">
    <div class="promo-overlay"></div>

    <div class="promo-content">
        <div class="line"></div>

        <h2>BOOK EARLY & SAVE</h2>

        <p>
            Book early and save up to 15% with our exclusive offers.
            Enjoy premium rooms at the best price.
        </p>

        <a href="/rooms/" class="promo-btn">BOOK NOW</a>
    </div>
</section>

<!-- Footer-->
<footer class="footer">
    <div class="container footer-container">

        <!-- LEFT -->
        <div class="footer-col">
            <h3 class="logo">✈️ Hotel Buddha</h3>
            <p>
                We always strive for growth and development. 
                We don’t want a large team, we want unity.
                Our slogan is “Every day is the last day”.
            </p>
        </div>

        <!-- CONTACT -->
        <div class="footer-col">
            <h4>CONTACT US</h4>
            <p>1230 Azad College Lucknow</p>
            <p><strong>Tel:</strong> +91 98765xxxx</p>
            <p><strong>Email:</strong> contact@hotelbudha.com</p>
        </div>

        <!-- SUBSCRIBE -->
        <div class="footer-col">
            <h4>STAY IN TOUCH</h4>
            <p>Get updates & offers directly in your inbox</p>

            <div class="subscribe-box">
                <input type="email" placeholder="Your Email">
                <button>➤</button>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Hotel Buddha. All Rights Reserved
    </div>
</footer>


<script>
function checkRooms(){
    let date = document.getElementById("dateRange").value;
    let guests = document.getElementById("guests").value;

    if(!date || !guests){
        alert("Please select date and guests");
        return;
    }

    let dates = date.split(" to ");
    let checkin = dates[0];
    let checkout = dates[1];

    window.location.href = `/rooms/?checkin=${checkin}&checkout=${checkout}&guests=${guests}`;
}
</script>
<script>
flatpickr("#dateRange", {
    mode: "range",
    minDate: "today",
    dateFormat: "Y-m-d"
});
</script>
<!-- SLIDER SCRIPT -->
<script>
let slides = document.querySelectorAll(".slide");
let dots = document.querySelectorAll(".dots span");

let index = 0;

function showSlide(i){

    if(i >= slides.length) index = 0;
    if(i < 0) index = slides.length - 1;

    slides.forEach(s => s.classList.remove("active"));
    dots.forEach(d => d.classList.remove("active"));

    slides[index].classList.add("active");
    dots[index].classList.add("active");
}

function nextSlide(){
    index++;
    showSlide(index);
}

function prevSlide(){
    index--;
    showSlide(index);
}

setInterval(() => {
    nextSlide();
}, 4000);
</script>
<script>
function filterRooms(type){

    let tabs = document.querySelectorAll(".tab");
    tabs.forEach(t => t.classList.remove("active"));

    event.target.classList.add("active");

    let rooms = document.querySelectorAll(".room-item");

    rooms.forEach(room => {

        room.classList.remove("show");

        if(type === 'all' || room.classList.contains(type)){
            room.style.display = "block";

            setTimeout(()=>{
                room.classList.add("show");
            },100);
        } else {
            room.style.display = "none";
        }

    });
}

/* AUTO ANIMATION LOAD */
window.onload = () => {
    document.querySelectorAll(".room-item").forEach((el,i)=>{
        setTimeout(()=>{
            el.classList.add("show");
        }, i * 150);
    });
}
</script>
<!-- Card click SCRIPT -->
<script>
function goRoom(id){
    window.location.href = "/room/" + id;
}
</script>
<!-- CHECK RAtes-->>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const btn = document.querySelector(".check-btn");

    btn.addEventListener("click", function () {

        const date = document.getElementById("dateRange").value;
        const guests = document.getElementById("guests").value;

        // 🔥 validation
        if (!date) {
            alert("Please select dates");
            return;
        }

        if (guests === "Guests") {
            alert("Select guests");
            return;
        }

        // 🔥 redirect
        window.location.href = `/rooms/?date=${date}&guests=${guests}`;
    });

});
</script>
{% endblock %}