{% extends 'booking/base.html' %}
{% load socialaccount %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height:90vh;">

    <div class="card shadow p-4" style="width:380px; border-radius:15px;">

        <h3 class="text-center mb-4">🔐 Login</h3>

        <form method="POST">
            {% csrf_token %}

            <!-- Email -->
            <div class="mb-3">
                <input name="username" type="email" class="form-control" placeholder="Enter Email" required>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

        </form>
        
        <!-- Error -->
        {% if error %}
        <div class="alert alert-danger text-center mt-3">
            {{ error }}
        </div>
        {% endif %}
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center mt-3">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
        <p class="text-center mt-3">
            Don't have an account? 
            <a href="{% url 'signup' %}">Signup</a>
        </p>

        <a href="{% provider_login_url 'google' process='login' %}" 
   style="display:block; text-align:center; background:#db4437; color:white; padding:10px; border-radius:5px; text-decoration:none; font-weight:bold;">
    
    Login with Google 🚀
</a>
<div class="text-center mt-2">
    <a href="{% url 'forgot_password' %}">Forgot Password?</a>
</div>
    </div>

</div>

{% endblock %}