{% extends 'booking/base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height:90vh;">

    <div class="card shadow p-4" style="width:380px; border-radius:15px;">

        <h3 class="text-center mb-4">🔐 Login</h3>

        <form method="POST">
            {% csrf_token %}

            <!-- Email -->
            <div class="mb-3">
                <input name="username" type="email" class="form-control" placeholder="Enter Email" required>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

        </form>

        <!-- Error -->
        {% if error %}
        <div class="alert alert-danger text-center mt-3">
            {{ error }}
        </div>
        {% endif %}
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center mt-3">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
        <p class="text-center mt-3">
            Don't have an account? 
            <a href="{% url 'signup' %}">Signup</a>
        </p>

    </div>

</div>

{% endblock %}