{% extends 'booking/base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">📋 My Bookings</h2>

    <!-- 🔥 MESSAGES -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Room</th>
                <th>Dates</th>
                <th>Status</th> <!-- ✅ NEW -->
                <th>Action</th>
                <th>PDF</th>
            </tr>
        </thead>

        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.room.name }}</td>

                <td>
    <b>Check-in:</b> {{ booking.check_in }} <span class="text-muted">(12 PM)</span><br>
    <b>Check-out:</b> {{ booking.check_out }} <span class="text-muted">(12 PM)</span>
</td>


                <!-- ✅ NEW STATUS COLUMN -->
                <td>
                    {% if booking.status == "Booked" %}
                        <span class="text-success">Booked</span>
                    {% else %}
                        <span class="text-danger">Cancelled</span>
                    {% endif %}
                </td>

                <td>
                    {% if booking.status == "Booked" %}
                        <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger btn-sm">
                            Cancel
                        </a>
                    {% else %}
                    <span class="text-muted"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'download_pdf' booking.id %}" class="btn btn-primary btn-sm">
    Download PDF
</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No bookings yet</td> <!-- updated colspan -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}