{% extends 'booking/base.html' %}
{% load static %}
{% block content %}

<div class="rooms-page">

<div class="container rooms-page">

<!-- 🔥 FILTER -->
<div class="booking-bar premium-bar mt-5">

    <form method="GET" class="row w-100 align-items-center">

        <div class="col-md-3 mb-2">
            <input type="text" name="q" class="form-control" placeholder="🔍 Search rooms">
        </div>

        <div class="col-md-2 mb-2">
            <select name="type" class="form-control">
                <option value="">All Types</option>
                <option value="AC">AC</option>
                <option value="NON-AC">Non-AC</option>
                <option value="DELUXE">Deluxe</option>
            </select>
        </div>

        <div class="col-md-2 mb-2">
            <input type="number" name="min_price" class="form-control" placeholder="Min ₹">
        </div>

        <div class="col-md-2 mb-2">
            <input type="number" name="max_price" class="form-control" placeholder="Max ₹">
        </div>

        <div class="col-md-3 mb-2">
            <button class="check-btn w-100">CHECK ROOMS</button>
        </div>

    </form>

</div>

<h2 class="text-center mb-5 title-main">Best Rooms For You</h2>

<div class="row">

{% for room in rooms %}
<div class="col-lg-4 col-md-6 mb-4">

<div class="room-card-new room-card"
     data-url="{% url 'room_detail' room.id %}">

    <!-- IMAGE -->
    <div class="img-box">

    {% if room.images.first %}
        <img src="{{ room.images.first.image.url }}" class="room-img">
    {% else %}
        <img src="{% static 'images/hotel.jpg' %}" class="room-img">
    {% endif %}

    <span class="price-tag">₹{{ room.price }}</span>

</div>

    <!-- CONTENT -->
    <div class="room-content">

        <h4>{{ room.name }}</h4>
        <p class="room-type">{{ room.room_type }}</p>

        {% if room.avg_rating %}
            <div class="rating">⭐ {{ room.avg_rating|floatformat:1 }} / 5</div>
        {% else %}
            <small>No reviews yet</small>
        {% endif %}

        <!-- REVIEWS -->
        <div class="review-box mt-2">
            {% for review in room.reviews.all|slice:":2" %}
            <div class="review-card">
                <b>{{ review.user.username }}</b><br>
                {{ review.comment|truncatechars:30 }}
            </div>
            {% endfor %}
        </div>

        <a href="{% url 'book_room' %}?room_id={{ room.id }}" class="btn-book">
            Book Now
        </a>

    </div>

</div>
</div>
{% endfor %}

</div>
</div>
</div>
<script>
document.querySelectorAll('.room-card').forEach(card => {
    card.addEventListener('click', function(e) {

        if (e.target.closest('a')) return;

        window.location.href = this.dataset.url;
    });
});
</script>
{% endblock %}