{% extends 'booking/base.html' %}

{% block content %}

<div class="container mt-5">
    <h2>🔐 Verify OTP</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP" class="form-control mb-3" required>
        <button type="submit" class="btn btn-success">Verify OTP</button>
    </form>
    <a href="{% url 'resend_otp' %}" class="btn btn-link">
    Resend OTP
</a>
</div>

{% endblock %}